Makefile
Makefile.in

# Ignore po4a translations ...
/??/aptitude.xml
/??/manpage.xml
/??/images/safety-cost-level-diagram.svg

# ... but not the originals or manual translations
!/en/aptitude.xml
!/en/manpage.xml
!/en/images/safety-cost-level-diagram.svg
!/cs/aptitude.xml
!/fi/aptitude.xml
!/fi/manpage.xml

# docbook.mk generates these
docbook-stamp
docbook-man-stamp
docbook-html-stamp
docbook-css-stamp
docbook-html-images-stamp
docbook-readme-stamp
docbook-fo-stamp
docbook-pdf-stamp
/??/output-man/
/??/output-html/
/??/output-readme/
/??/output-fo/
/??/aptitude.8
/??/aptitude-create-state-bundle.1
/??/aptitude-run-state-bundle.1
/en/README
/??/README.??
/??/aptitude.??.pdf
